body {
    background-color: #f5f5f5;
    font-family: 'Arial', sans-serif;
    margin: 30px;
}

h1 {
    color: #3366cc;
    text-align: center;
}

p {
    color: #555;
    text-align: center;
}